<div class="container">
    <div class="content">
        <app-button text="Primary" type="primary" size="small" iconRight="bi bi-heart" (clicked)="onButtonClicked()"></app-button>
        <app-button text="Outline" type="outline" iconLeft="bi bi-heart"></app-button>
        <app-button text="Large outline" type="warning" size="large" iconRight="bi bi-heart" iconLeft="bi bi-heart"></app-button>
        <app-button text="Small outline" type="warning" size="large" iconRight="bi bi-user" iconLeft="bi bi-heart"></app-button>
        <app-button text="Primary" type="secondary" size="small" (clicked)="onButtonClicked()"></app-button>
        <app-button text="Outline" type="success"></app-button>
        <app-button text="Large outline" type="danger" size="large"></app-button>
    </div>

</div>