.card-body {
  border-radius: 0;
  height: 62px;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-content {
  display: flex;
  gap: 10px;

  i {
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}
