@import "colors";

.range-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-general-lateral {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: $bodycolor-white;
  width: 100%;
  height: 100%;
  box-shadow: $default-shadow;
  max-width: 270px;
  min-width: 80px;
  overflow: auto;
}

.main-container {
  height: calc(100vh - 62px);
  width: 100%;
  max-width: 1530px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.menu-hidden {
  width: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-fixed-container {
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s ease-in;

  i {
    font-size: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.content-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (min-width: 1530px) {
  .menu-general-lateral {
    max-width: 310px;
  }
}
