.main {
  height: calc(100vh - 62px);
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.card-body {
  &.menu-flex {
    max-width: 300px;
  }
}

.menu-hidden {
  width: 0;
  overflow: hidden;
}
