@import "colors";

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  i {
    font-size: 22px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .selected {
    background-color: $primary;
    width: 4px;
    border-radius: 4px 0 0 4px;
    height: 40px;
  }

  p {
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
